/********************************************************
 Basic Layout
********************************************************/

html,
body {
  height: 100%;
}

body {
  text-align: center;
}

.wrapper {
  margin: 0 auto;
  width: 80%;
  max-width: 650px;
}

#main {
  height: 75%;
  background-image: url("../images/wildertv.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-position: fixed;
  position: relative;
}

#main h1 {
  margin-top: 0;
  text-align: left;
}

span {
  margin-top: 3em;
  padding: 0.2em 0.6em;
}

#button-holder {
  position: absolute;
  bottom: 10px;
}

/********************************************************
 Media Queries
********************************************************/

@media screen and (min-width: 600px) {
  #main {
    height: 68%;
  }
}

@media screen and (min-width: 800px) {
  #main {
    height: 65%;
  }
}

/********************************************************
 Navigation
********************************************************/

#logo {
  max-width: 200px;
  display: inline;
}

ul {
  position:fixed;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/********************************************************
 Typography
********************************************************/

h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
}

.cta {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.3em;
  font-size: 1.3em;
}

p {
  font-family: 'Open Sans', sans-serif;
}

/********************************************************
 Color Palette
********************************************************/

header {
  background: #0C0C0C;
}

span {
  background-color: #FFF;
}

#main h1 {
  color: #F21B3F;
}

.cta {
  background-color: #F21B3F;
  color: #FFF;
}

.social:hover {
  color: #F21B3F;
}

/********************************************************
 Buttons
********************************************************/

.cta {
  border-style: none;
  border-radius: 0.3em;
  padding: 0.6em 2em;
}

.cta:focus {
  outline: none;
}

/********************************************************
 Icons
********************************************************/

button .fa {
  margin: 0 0.5em;
}

.social {
  font-size: 2em;
  margin: 0.5em;
}
