/********************************************************
 Basic Layout
********************************************************/

html,
body {
  height: 100%;
}

body {
  text-align: center;
}

.wrapper {
  margin: 0 auto;
  width: 90%;
  max-width: 650px;
}

#main {
  height: 75%;
  background-image: url("../images/wildertv.jpg");
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}


/********************************************************
 Media Queries
********************************************************/

@media screen and (min-width: 600px) {
  #main {
    height: 68%;
  }
}

@media screen and (min-width: 800px) {
  #main {
    height: 65%;
  }
}

/********************************************************
 Navigation
********************************************************/

#logo {
  max-width: 200px;
}

ul {
  position:fixed;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/********************************************************
 Typography
********************************************************/

h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
}

.cta {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.3em;
  font-size: 1.3em;
}

p {
  font-family: 'Open Sans', sans-serif;
}

/********************************************************
 Buttons & Icons
********************************************************/

.cta {
  border-top: none;
  border-radius: 0.3em;
  padding: 0.6em 2em;
  position: absolute;
  width: 250px;
  margin-left: -125px;
  left: 50%;
  bottom: 20px;
}

.cta:focus {
  outline: none;
}

button .fa {
  margin: 0 0.5em;
}

.social {
  font-size: 2em;
  margin: 0.5em;
}

button,
.social {
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
}

/********************************************************
 Color Palette
********************************************************/

.cta {
  background-color: #F21B3F;
  color: #FFF;
  border-bottom: #CE0C2C 3px solid;
  border-left: #CE0C2C 1px solid;
  border-right: #CE0C2C 1px solid;

}

.cta:hover {
  background-color: #f33353;
  border-bottom: #F21B3F 3px solid;
  border-left: #F21B3F 1px solid;
  border-right: #F21B3F 1px solid;
}

.social:hover {
  color: #F21B3F;
}
